<div class="main-content">
  <div class="container">
    {{#if newMenu}}

      <div class="main-row">
        {{#simple-form class="form-container" onsubmit=(action createNewMenu) as |formValues|}}
          <p>
            <label>New Menu</label>
            {{input class="form-input" type="text" name="name" value=formValues.name}}
          </p>
          <div class="form-buttons">
            <button type="button" {{action toggleProperty "newMenu"}}>{{fa-icon "undo"}}</button>
            <button>{{fa-icon "plus-square"}}</button>
          </div>
        {{/simple-form}}
      </div>

    {{else}}
      <div class="main-row__top">
        <span class="add-button" {{action toggleProperty "newMenu"}}>{{fa-icon "plus-square"}}</span>
      </div>
      <ul class="menu-option__row">
        {{#each model as |menu|}}
          <li class="menu-option">
            {{#link-to "admin.menus.menu" menu.id}}
              <div class="menu-image__container">
                {{log menu.items.firstObject.image}}
                <img class="menu-image" src="{{menu.items.firstObject.image}}" alt="">
              </div>
              {{menu.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>

    {{/if}}
  </div>
</div>
