<div class="main-content">
  <div class="container">
    {{#if newMenu}}

      <div class="main-row">
        {{#simple-form class="form-container" onsubmit=(action createNewMenu) as |formValues|}}
          <p>
            <label>Menu Title</label>
            {{input class="form-input" type="text" name="name" placeholder="New Menu Title (max length 25)" maxlength="25" value=formValues.name}}
          </p>
          <div class="form-buttons">
            <div class="nav-link__container">
              <span class="nav-link__text">Cancel</span>
              <span class="nav-link" {{action toggleProperty "newMenu"}}>{{fa-icon "backward"}}</span>
            </div>
            <div class="nav-link__container">
              <span class="nav-link__text">Add Menu</span>
              <button class="nav-link">{{fa-icon "plus"}}</button>
            </div>
          </div>
        {{/simple-form}}
      </div>

    {{else}}

      <div class="main-row__top">
        <div class="nav-link__container">
          <span class="nav-link__text">New Menu</span>
          <span class="nav-link" {{action toggleProperty "newMenu"}}>{{fa-icon "plus"}}</span>
        </div>
        <div class="nav-link__container">
          <span class="nav-link__text">Back</span>
          {{#link-to "admin"}}<span class="nav-link">{{fa-icon "backward"}}</span>{{/link-to}}
        </div>
      </div>

      <ul class="menu-option__row">
        {{#each model as |menu|}}
          <li class="menu-option">
              <div class="image-title__container">
                <div class="item-image__container">
                  {{#link-to "admin.menus.menu" menu.id}}
                  <img class="item-image" src="{{menu.items.firstObject.image}}" alt="">
                  <h4 class="image-title__container--title">{{menu.name}}</h4>
                  {{/link-to}}
                </div>
              </div>
          </li>
        {{/each}}
      </ul>

    {{/if}}
  </div>
</div>
