<div class="main-content">
  <div class="container">
    {{#if newUser}}

      <div class="main-row">
        {{#simple-form class="form-container" onsubmit=(action createNewUser) as |formValues|}}
          <p>
            <label>User Name</label>
            {{input class="form-input" type="text" placeholder="John Doe" maxlength="25" value=formValues.username}}
          </p>
          <p>
            <label>E-mail</label>
            {{input class="form-input" type="text" placeholder="john@doe.com" maxlength="25" value=formValues.email}}
          </p>
          <p>
            <label>Password</label>
            {{input class="form-input" type="password" placeholder="john123" maxlength="25" value=formValues.password}}
          </p>
          <div class="form-buttons">
            <div class="nav-link__container">
              <span class="nav-link__text">Cancel</span>
              <button class="nav-link" {{action toggleProperty "newUser"}}>{{fa-icon "backward"}}</button>
            </div>
            <div class="nav-link__container">
              <span class="nav-link__text">Add User</span>
              <button class="nav-link">{{fa-icon "user-plus"}}</button>
            </div>
          </div>
        {{/simple-form}}
      </div>

    {{else}}

      <div class="main-row__top">
        <div class="nav-link__container">
          <span class="nav-link__text">New User</span>
          <button class="nav-link" {{action toggleProperty "newUser"}}>{{fa-icon "user-plus"}}</button>
        </div>
        <div class="nav-link__container">
          <span class="nav-link__text">Back</span>
          {{#link-to "admin"}}<button class="nav-link">{{fa-icon "backward"}}</button>{{/link-to}}
        </div>
      </div>

      <div class="main-row">
        <ul class="user-list">
          {{#each model as |user|}}
            <p class="user">
              {{#simple-form class="editable-form" startingValues=user onsubmit=(action saveUser user) as |formValues|}}
                {{input class="form-hidden user-text" type="text" name="username" value=formValues.username}}
                {{input class="form-hidden user-text" type="text" name="email" value=formValues.email}}
                <button></button>
              {{/simple-form}}
              <div class="user-remove">
                <span class="user-remove__text"><a href="#" {{action deleteUser user}}>Remove</a>
                  {{fa-icon "user-times"}}
                </span>
              </div>
            </p>
          {{/each}}
        </ul>
      </div>

    {{/if}}
  </div>
</div>
