<div class="app-wrapper">
  <nav>
    <div class="container">
      <div class="nav-row">
        <span>{{#link-to "admin" class="nav-link"}}{{fa-icon "home"}}{{/link-to}}</span>

        <span>{{#link-to "admin" class="fobie"}}FOHBI{{/link-to}}</span>

        {{#if session.isAuthenticated}}
          <div class="nav-link__container">
            <span class="nav-link">{{#link-to "logout"}}{{fa-icon "sign-out"}}{{/link-to}}</span>
            <span class="nav-link__text">Log Out</span>
          </div>
        {{else}}
          <div class="nav-link__container">
            <span class="nav-link">{{#link-to "login"}}{{fa-icon "sign-in"}}{{/link-to}}</span>
            <span class="nav-link__text">Log In</span>
          </div>
        {{/if}}
      </div>
    </div>
  </nav>

  {{outlet}}
</div>
