{{#if newMenu}}

  {{#simple-form onsubmit=(action createNewMenu) as |formValues|}}
    <p>
      <label>New Menu</label>
      {{input type="text" name="name" value=formValues.name}}
    </p>
    <button>Add Menu</button>
    <button {{action toggleProperty "newMenu"}}>Cancel</button>
  {{/simple-form}}

{{else}}

  <ul>
    <button {{action toggleProperty "newMenu"}}>Add Menu</button>
    {{#each model as |menu|}}
    {{log menu}}
      <li>
        {{menu.name}}
        <a href="#" {{action deleteMenu menu}}>Delete</a>
      </li>
    {{/each}}
  </ul>

{{/if}}
