<div class="main-content">
  <div class="container">
    {{#if newUser}}

      <div class="main-row">
        {{#simple-form class="form-container" onsubmit=(action createNewUser) as |formValues|}}
          <p>
            <label>User Name</label>
            {{input class="form-input" type="text" placeholder="John Doe (max length 25)" maxlength="25" value=formValues.username}}
          </p>
          <p>
            <label>E-mail</label>
            {{input class="form-input" type="text" placeholder="john@doe.com (max length 25)" maxlength="25" value=formValues.email}}
          </p>
          <p>
            <label>Password</label>
            {{input class="form-input" type="password" placeholder="john123 (max length 25)" maxlength="25" value=formValues.password}}
          </p>
          <div class="form-buttons">
            <button type="button" {{action toggleProperty "newUser"}}>{{fa-icon "undo"}}</button>
            <button>{{fa-icon "plus-square"}}</button>
          </div>
        {{/simple-form}}
      </div>

    {{else}}

      <div class="main-row__top">
        <span class="add-button" {{action toggleProperty "newUser"}}>{{fa-icon "user-plus"}}</span>
      </div>
      <div class="main-row">
        <ul class="user-list">
          {{#each model as |user|}}
            <p class="user">
              {{#simple-form class="editable-form" startingValues=user onsubmit=(action saveUser user) as |formValues|}}
                {{input class="form-hidden" type="text" name="username" value=formValues.username}}
                {{input class="form-hidden" type="text" name="email" value=formValues.email}}
                <button></button>
              {{/simple-form}}
              <div class="user-remove">
                <span class="user-remove__text"><a href="#" {{action deleteUser user}}>Remove</a></span>
                {{fa-icon "user-times"}}
              </div>
            </p>
          {{/each}}
        </ul>
      </div>

    {{/if}}
  </div>
</div>
