<div class="main-content">
  <div class="container">
    {{#if newUser}}

      <div class="main-row">
        {{#simple-form onsubmit=(action createNewUser) as |formValues|}}
          <p>
            <label>User Name</label>
            {{input type="text" name="username" value=formValues.username}}
          </p>
          <p>
            <label>E-mail</label>
            {{input type="text" name="email" value=formValues.email}}
          </p>
          <p>
            <label>Password</label>
            {{input type="password" name="password" value=formValues.password}}
          </p>
          <button>Register</button>
          <button {{action toggleProperty "newUser"}}>Cancel</button>
        {{/simple-form}}
      </div>

    {{else}}

      <div class="main-row__top">
        <span class="add-button" {{action toggleProperty "newUser"}}>{{fa-icon "user-plus"}}</span>
      </div>
      <div class="main-row">
        <ul>
          {{#each model as |user|}}
            <li>{{user.username}}</li>
            <li>
              {{user.email}}
              {{!-- <a href="#" {{action deleteUser user}}>Remove</a> --}}
            </li>
          {{/each}}
        </ul>
      </div>

    {{/if}}
  </div>
</div>
