<div class="main-content">
  <div class="container">
    {{#if newItem}}

      <div class="main-row">
        {{#simple-form class="form-container" onsubmit=(action createNewItem) as |formValues|}}
          <p>
            <label>Upload Image</label>
            {{profile-upload
              class="form-input image-uploader"
              fileUrl=formValues.image
              placeholderUrl="images/img-icon.png"
              onchange=(action (mut formValues.image))}}
          </p>

          <p>
            <label>Title</label>
            {{input class="form-input" type="text" name="title" placeholder="New item iitle" maxlength="25" value=formValues.title}}
          </p>

          <p>
            <label>Description</label>
            {{textarea class="form-input" name="description" placeholder="General item description" value=formValues.description}}
          </p>

          <p>
            <label>How is the item prepared?</label>
            {{#add-array onadd=(action (mut formValues.steps)) as |step|}}
              <li class="item-step">{{input class="form-input" placeholder="Add another step using `enter` key" value=step.description}}</li>
            {{/add-array}}
          </p>
          <p>
            {{#each model.allergens as |allergen|}}
              {{x-toggle theme='flip' onLabel=allergen.name offLabel=allergen.name toggle=(action toggleAllergen (action (mut formValues.allergens)) formValues.allergens allergen)}}
            {{/each}}
          </p>

          <div class="form-buttons">
            <div class="nav-link__container">
              <span class="nav-link__text">Cancel</span>
              <button class="nav-link" {{action toggleProperty "newItem"}}>{{fa-icon "backward"}}</button>
            </div>

            <div class="nav-link__container">
              <span class="nav-link__text">Add Menu</span>
              <button class="nav-link">{{fa-icon "plus"}}</button>
            </div>
          </div>
        {{/simple-form}}
      </div>

    {{else}}

      <div class="main-row__top">
        <div class="nav-link__container">
          <span class="nav-link__text">New Item</span>
          <span class="nav-link" {{action toggleProperty "newItem"}}>{{fa-icon "plus"}}</span>
        </div>

        <div class="nav-link_container">
          {{#simple-form class="editable-form" startingValues=model.menu onsubmit=(action saveItem model.menu) as |formValues|}}
            {{input autoresize=true class="form-hidden menu-title" type="text" name="menu" value=formValues.name}}
          {{/simple-form}}
        </div>

        <div class="nav-link__container">
          <span class="nav-link__text">Back</span>
          {{#link-to "admin.menus"}}<span class="nav-link">{{fa-icon "backward"}}</span>{{/link-to}}
        </div>
      </div>

      <ul class="menu-option__row">
        {{#each model.menu.items as |item|}}

            <div class="menu-option">

              {{#simple-form class="editable-form" startingValues=item onsubmit=(action saveItem item) as |formValues|}}
                <div class="image-title__container">
                  <div class="item-image__container">
                    <img class="item-image" src="{{item.image}}" alt="">
                  </div>

                  {{input class="form-hidden image-title__container--title" type="text" name="title" value=formValues.title}}
                </div>
                <h3 class="item-description__title">Item Description</h3>
                {{textarea autoresize=true class="form-hidden item-description" type="text" name="description" value=formValues.description enter=(action saveItem item formValues.buffer)}}

                <button></button>
              {{/simple-form}}

              <h3 class="item-description__title">Preparation Steps:</h3>
              <ol>
                {{#each item.steps as |step|}}
                  {{#simple-form class="editable-form" startingValues=step onsubmit=(action saveStep step) as |formValues|}}
                    <li class="item-step">
                      {{textarea autoresize=true class="form-hidden item-step__description" type="text" name="step" value=formValues.description enter=(action saveStep step formValues.buffer)}}
                    </li>
                  {{/simple-form}}
                {{/each}}
              </ol>
              <h3 class="item-description__title">Safe for people with these allergens:</h3>
              {{#each item.itemallergens as |itemAllergen|}}
                {{itemAllergen.allergen}}
                <span class="item-step__description">{{itemAllergen.allergen.name}}, </span>
              {{/each}}

              <div class="main-row__bottom">
                <span class="delete-item" {{action deleteItem item items.steps}}>{{fa-icon "trash"}} Delete single item</span>
              </div>
            </div>
        {{/each}}
      </ul>
      <div class="main-row__bottom">
        <span class="delete-menu" {{action deleteMenu model.menu}}>Delete this whole menu</span>
      </div>
    {{/if}}
  </div>
</div>
