<div class="main-content">
  <div class="container">
    <div class="main-row__top">
      <h4 class="greeting">{{model.name}}</h4>
    </div>

    {{#if newItem}}

      <div class="main-row">
        {{#simple-form class="form-container" onsubmit=(action createNewItem) as |formValues|}}
          <p>
            <label>Image</label>
            {{input class="form-input" type="text" name="image" value=formValues.image}}
          </p>
          <p>
            <label>Title</label>
            {{input class="form-input" type="text" name="title" value=formValues.title}}
          </p>
          <p>
            <label>Description</label>
            {{textarea class="form-input" name="description" value=formValues.description}}
          </p>
          <p>
            <label>Steps</label>
            {{#add-array onadd=(action (mut formValues.steps)) as |step|}}
              <li>{{input class="form-input" value=step.description}}</li>
            {{/add-array}}
          </p>
          <p>
            {{!-- <label>Safe for Allergens:</label> --}}

          </p>
          <div class="form-buttons">
            <button type="button" {{action toggleProperty "newItem"}}>{{fa-icon "undo"}}</button>
            <button>{{fa-icon "plus-square"}}</button>
          </div>
        {{/simple-form}}
      </div>

    {{else}}

    <div class="main-row__top">
      <span class="add-button" {{action toggleProperty "newItem"}}>{{fa-icon "plus-square"}}</span>
      <span class="add-button">{{#link-to "admin.menus"}}{{fa-icon "undo"}}{{/link-to}}</span>
    </div>
      <ul class="menu-option__row">
        {{#each model.items as |item|}}
            <div class="menu-option">

              {{#simple-form class="editable-form" startingValues=item onsubmit=(action saveItem item) as |formValues|}}
                <div class="image-title__container">
                  <div class="menu-image__container">
                    <img class="menu-image" src="{{item.image}}" alt="">
                  </div>
                  {{input class="form-hidden image-title__container--title" type="text" name="title" value=formValues.title}}
                </div>
                {{textarea autoresize=true class="form-hidden" type="text" name="description" value=formValues.description enter=(action saveItem item formValues.buffer)}}
                <button></button>
              {{/simple-form}}

              {{#each item.steps as |step|}}
                <li>{{step.description}}</li>
                {{!-- <span class="delete"><a href="#" {{action deleteStep step}}>Delete step</a></span> --}}
              {{/each}}
              <span class="delete"><a href="#" {{action deleteItem item items.steps}}>Delete this item</a></span>
            </div>
        {{/each}}
      </ul>
      <span class="delete"><a href="#" {{action deleteMenu model}}>Delete this entire menu!</a></span>
    {{/if}}
  </div>
</div>
